In [28]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
import plotly.express as px
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import LeaveOneOut
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE

datasTest = pd.read_csv('./dataslayer/test.csv')
datasTest

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
0,137142,CADILUXE,MID-SIZE,3.6,NaN,AS8,X,6.40 km/L,1.77 L/100 km,25.04 MPG (AS)
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.11 L/100km,14.38 liters per 100 km,5.53 km per L
2,137144,MITSU,SUV - SMALL,6.0,NaN,AV6,X,9.60 MPG (AS),27.45 mpg Imp.,12.99 MPG (AS)
3,137145,LECUS,MID-SIZE,4.6,NaN,AS8,Z,1.68 L/10km,6.29 km/L,16.42 L/100km
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,5.65 MPG (AS),14.75 mpg Imp.,31.52 L/100km
...,...,...,...,...,...,...,...,...,...,...
58771,195913,KIO,SUV - SMALL,3.3,NaN,A6,X,15.39 mpg Imp.,2.09 L/10km,1.95 L/10km
58772,195914,FOLD,unspecified,1.6,4.0,AS6,X,38.00 MPG (AS),35.64 MPG (AS),15.69 km/L
58773,195915,CHEVO,SUV - STANDARD,3.5,unestablished,A6,X,6.90 km/L,21.38 MPG (AS),18.20 MPG (AS)
58774,195916,FOLD,unknown,5.0,8.0,AS6,X,27.93 MPG (AS),51.20 MPG (AS),42.16 mpg Imp.
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,5.03 km/L,1516.49 mpg Imp.,25.65 mpg Imp.

# Melihat deskripsi dataset

In [29]:
datasTest.describe()

                  Id
count   58776.000000
mean   166529.500000
std     16967.314048
min    137142.000000
25%    151835.750000
50%    166529.500000
75%    181223.250000
max    195917.000000

# Membersihkan data yang Null

In [30]:
datasTest = datasTest.dropna(inplace=True)
print(datasTest)

None

TypeError: 'NoneType' object is not subscriptable