In [1]:
import pandas as pd 

df = pd.read_csv('./dataset/dataslayer/test.csv')
df

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
0,137142,CADILUXE,MID-SIZE,3.6,NaN,AS8,X,6.40 km/L,1.77 L/100 km,25.04 MPG (AS)
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.11 L/100km,14.38 liters per 100 km,5.53 km per L
2,137144,MITSU,SUV - SMALL,6.0,NaN,AV6,X,9.60 MPG (AS),27.45 mpg Imp.,12.99 MPG (AS)
3,137145,LECUS,MID-SIZE,4.6,NaN,AS8,Z,1.68 L/10km,6.29 km/L,16.42 L/100km
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,5.65 MPG (AS),14.75 mpg Imp.,31.52 L/100km
...,...,...,...,...,...,...,...,...,...,...
58771,195913,KIO,SUV - SMALL,3.3,NaN,A6,X,15.39 mpg Imp.,2.09 L/10km,1.95 L/10km
58772,195914,FOLD,unspecified,1.6,4.0,AS6,X,38.00 MPG (AS),35.64 MPG (AS),15.69 km/L
58773,195915,CHEVO,SUV - STANDARD,3.5,unestablished,A6,X,6.90 km/L,21.38 MPG (AS),18.20 MPG (AS)
58774,195916,FOLD,unknown,5.0,8.0,AS6,X,27.93 MPG (AS),51.20 MPG (AS),42.16 mpg Imp.
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,5.03 km/L,1516.49 mpg Imp.,25.65 mpg Imp.

# Menghilangkan satuan

In [6]:
df['Fuel Consumption City'] = df['Fuel Consumption City'].str.extract('(\d+\.\d+|\d+)')
df

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
0,137142,CADILUXE,MID-SIZE,3.6,NaN,AS8,X,6.40,1.77,25.04
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.11,14.38,5.53
2,137144,MITSU,SUV - SMALL,6.0,NaN,AV6,X,9.60,27.45,12.99
3,137145,LECUS,MID-SIZE,4.6,NaN,AS8,Z,1.68,6.29,16.42
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,5.65,14.75,31.52
...,...,...,...,...,...,...,...,...,...,...
58771,195913,KIO,SUV - SMALL,3.3,NaN,A6,X,15.39,2.09,1.95
58772,195914,FOLD,unspecified,1.6,4.0,AS6,X,38.00,35.64,15.69
58773,195915,CHEVO,SUV - STANDARD,3.5,unestablished,A6,X,6.90,21.38,18.20
58774,195916,FOLD,unknown,5.0,8.0,AS6,X,27.93,51.20,42.16
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,5.03,1516.49,25.65

In [7]:
df['Fuel Consumption Hwy'] = df['Fuel Consumption Hwy'].str.extract('(\d+\.\d+|\d+)')
df

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
0,137142,CADILUXE,MID-SIZE,3.6,NaN,AS8,X,6.40,1.77,25.04
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.11,14.38,5.53
2,137144,MITSU,SUV - SMALL,6.0,NaN,AV6,X,9.60,27.45,12.99
3,137145,LECUS,MID-SIZE,4.6,NaN,AS8,Z,1.68,6.29,16.42
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,5.65,14.75,31.52
...,...,...,...,...,...,...,...,...,...,...
58771,195913,KIO,SUV - SMALL,3.3,NaN,A6,X,15.39,2.09,1.95
58772,195914,FOLD,unspecified,1.6,4.0,AS6,X,38.00,35.64,15.69
58773,195915,CHEVO,SUV - STANDARD,3.5,unestablished,A6,X,6.90,21.38,18.20
58774,195916,FOLD,unknown,5.0,8.0,AS6,X,27.93,51.20,42.16
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,5.03,1516.49,25.65

In [8]:
df['Fuel Consumption Comb'] = df['Fuel Consumption Comb'].str.extract('(\d+\.\d+|\d+)')
df

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
0,137142,CADILUXE,MID-SIZE,3.6,NaN,AS8,X,6.40,1.77,25.04
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.11,14.38,5.53
2,137144,MITSU,SUV - SMALL,6.0,NaN,AV6,X,9.60,27.45,12.99
3,137145,LECUS,MID-SIZE,4.6,NaN,AS8,Z,1.68,6.29,16.42
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,5.65,14.75,31.52
...,...,...,...,...,...,...,...,...,...,...
58771,195913,KIO,SUV - SMALL,3.3,NaN,A6,X,15.39,2.09,1.95
58772,195914,FOLD,unspecified,1.6,4.0,AS6,X,38.00,35.64,15.69
58773,195915,CHEVO,SUV - STANDARD,3.5,unestablished,A6,X,6.90,21.38,18.20
58774,195916,FOLD,unknown,5.0,8.0,AS6,X,27.93,51.20,42.16
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,5.03,1516.49,25.65

In [14]:
df['Cylinders'] = df['Cylinders'].str.extract('(\d+\.\d+|\d+)')
df.dropna()

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.11,14.38,5.53
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,5.65,14.75,31.52
5,137147,CHEVO,SUBCOMPACT,3.6,6.0,M6,X,35.25,22.67,45.35
6,137148,FOLD,VAN - PASSENGER,3.5,6.0,AS10,X,15.33,15.13,1.85
7,137149,TOLVO,SUV - STANDARD,2.0,4.0,AS8,Z,3.52,5.63,4.23
...,...,...,...,...,...,...,...,...,...,...
58768,195910,NIRRAN,PICKUP TRUCK - SMALL,4.0,6.0,A5,X,26.97,14.52,0
58769,195911,JIPU,SUV - SMALL,2.4,4.0,A9,X,1.81,120.30,25.69
58772,195914,FOLD,unspecified,1.6,4.0,AS6,X,38.00,35.64,15.69
58774,195916,FOLD,unknown,5.0,8.0,AS6,X,27.93,51.20,42.16
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,5.03,1516.49,25.65

# Melihat tipe data

In [9]:
df.dtypes

Id                        int64
Make                     object
Vehicle Class            object
Engine Size(L)           object
Cylinders                object
Transmission             object
Fuel Type                object
Fuel Consumption City    object
Fuel Consumption Hwy     object
Fuel Consumption Comb    object
dtype: object

In [10]:
# Menghapus nilai NaN

Menghapus nilai NaN

In [12]:
df.dropna(inplace=True)
df

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.11,14.38,5.53
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,5.65,14.75,31.52
5,137147,CHEVO,SUBCOMPACT,3.6,6.0,M6,X,35.25,22.67,45.35
6,137148,FOLD,VAN - PASSENGER,3.5,6.0,AS10,X,15.33,15.13,1.85
7,137149,TOLVO,SUV - STANDARD,2.0,4.0,AS8,Z,3.52,5.63,4.23
...,...,...,...,...,...,...,...,...,...,...
58769,195911,JIPU,SUV - SMALL,2.4,4.0,A9,X,1.81,120.30,25.69
58772,195914,FOLD,unspecified,1.6,4.0,AS6,X,38.00,35.64,15.69
58773,195915,CHEVO,SUV - STANDARD,3.5,unestablished,A6,X,6.90,21.38,18.20
58774,195916,FOLD,unknown,5.0,8.0,AS6,X,27.93,51.20,42.16
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,5.03,1516.49,25.65